.block{
    display: flex;
    flex: 1 1 auto;
    margin-top: 30px;
    margin-right: 3%;
    margin-left: 5px;

    flex-direction: column;
    text-align: justify;
    word-wrap: break-word;
    
    box-shadow: 0 0.1em 0.3em rgb(0 0 0 / 25%);
    border-left: 25px solid var(--brick-red);
    padding-left: 0px;
    padding-right: 10px;
  }
  
  .block-title{
    background-color: var(--title-bg-color);
    color: var(--left-panel-bg-color);
    padding: 5px;
    margin-bottom: 10px;
  }
  
  .block-section-title{
    font-weight: bold;
    display: flex;
  
  }
  .block-section-subtitle{
    font-style: italic;
    display: flex;
  }

