.box {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 30px;
}

.box-content {
    display: flex;

    justify-content: center;
    justify-items: center;
    align-self: center;
    padding: 0px 15px;
    gap: 15px;
}

.box3-content {
    display: flex;
    justify-content: center;
    justify-items: center;
    align-self: center;
}
.box-title {
    text-align: center;
    font-size: 4em;
    color: var(--brick-red);
    font-family: MontserratSemiBold;
    margin-bottom: 25px;
}

.card i {
    color: var(--brick-red);
}

.card {
    display: flex;
    text-align: justify;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    box-shadow: 0 0.1em 0.3em rgb(0 0 0 / 25%);
    margin-bottom: 20px;
    /* border-radius: 5%; */
    width: 100%;
    padding: 10px;
    font-family: Montserrat;
    font-weight: bold;
    line-height: 1.5em;
}
.card:hover {
    box-shadow: 0 0.3em 0.5em rgb(0 0 0 / 32%);
}
a.card {
    text-decoration: none;
    color: var(--brown-light);
}

.card img {
    width: 50%;
}
.card a {
    display: block;
    text-decoration: none;
    /* color: skyblue; */
    font-weight: bold;
    text-align: center;
}

.card-name {
    font-family: "Calibri";
    font-size: 25px;

    margin-bottom: 10px;
    text-align: center;
    width: 100%;
    color: var(--brick-red);
}
.card-name hr {
    width: 70%;
    border: none;
    background-color: black;
    opacity: 0.25;
    height: 0.3px;
}

.card-description {
    font-weight: bolder;
    padding: 10px;
}

@media screen and (max-device-width: 800px) {
    .box-content {
        display: flex;
        overflow-x: auto;
        justify-content: start;
        width: 100%;
    }

    .box-content .card {
        flex: 0 0 auto;
        margin-right: 3px;
        width: 85%;
    }
    .box-title {
        font-size: 3em;
    }
}
