
.box{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
  
  .box2-content{
      display: -ms-grid;
      -ms-grid-columns: 1fr 1fr;
      
      display: grid;
      grid-template-columns: 1fr 1fr;
      justify-content:center;
      justify-items: center;
      align-self: center;
           
  }
  
  .box3-content{
    display: -ms-grid;
    -ms-grid-columns: 1fr 1fr 1fr;
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content:center;
    justify-items: center;
    align-self: center;
         
}
.box-title{
text-align: center;
font-size: 4em;
}


.card{
    display: flex;
    text-align: justify;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0.1em 0.3em rgb(0 0 0 / 25%);
    margin: 10px;
    margin-bottom: 20px;
    width:90%;
    border-radius: 5%;
    padding:10px;
    font-family: Montserrat;
    font-weight: bold;

}
.card:hover{
    box-shadow: 0 0.3em 0.5em rgb(0 0 0 / 32%);

}

.card img{
    width: 50%;
    
}
.card a{
    display: block;
    text-decoration: none;
    /* color: skyblue; */
    font-weight: bold;
    text-align: center;
}

.card-name{
    font-family: 'Calibri';
    font-size: 25px;

    margin-bottom: 10px;
    text-align: center;
    width: 100%;
    
}
.card-name hr{
    width: 70%;
}


.card-description{
    font-weight: bolder;
    padding: 10px;
}

@media screen and (max-device-width:800px){
    .box2-content{
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        justify-items: center;
    }
    .box3-content{
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        justify-items: center;
    }
    .card{
        width: 88%;
        align-self: center;
    }
    .box-title{
        font-size: 3em;
    }
}